<div class="container">
    <div class="row mt-3">
        <div class="col-3 d-flex">
            <div class="input-group">
                <input type="text" class="form-control" [(ngModel)]="userId" placeholder="Enter ID">
            </div>
        </div>
        <div class="col-3">
            <button class="btn btn-success" (click)="filterUserById()">Get User</button>
        </div>
    </div>
    <div [formGroup]="userData">
        <div class="row mt-5">
            <div class="col-md-4 mb-3">
                <label>Name</label>
                <input type="text" class="form-control" formControlName="name" placeholder="First name">
            </div>
            <div class="col-md-4 mb-3">
                <label>Phone</label>
                <input type="text" class="form-control" formControlName="phone" placeholder="Last name">
            </div>
            <div class="col-md-4 mb-3">
                <label>Username</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">&#64;</span>
                    </div>
                    <input type="text" class="form-control" formControlName="username" placeholder="Username">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-3">
                <label>City</label>
                <input type="text" class="form-control" formControlName="city" placeholder="City">
            </div>
            <div class="col-md-4 mb-3">
                <label>Street</label>
                <input type="text" class="form-control" formControlName="street" placeholder="State">
            </div>
            <div class="col-md-4 mb-3">
                <label>Zip</label>
                <input type="text" class="form-control" formControlName="zipcode" placeholder="Zip">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <div class="row mt-2">
                        <ng-container>
                            <div class="tag-wrapper">
                                <span *ngFor="let item of tagarr" class="tag-item">
                                    {{ item.name }}
                                </span>
                            </div>
                            <tag-input [(ngModel)]="tagarr" [identifyBy]="'name'" [displayBy]="'name'"
                                (onRemove)="removeTag($event)" [hideForm]="true">
                            </tag-input>
                        </ng-container>
                        <ul class="pt-4 list-unstyled d-flex flex-wrap gap-2">
                            <li *ngFor="let vitals of result" (click)="selectedTag(vitals)">
                                <a class="btn btn-sm btn-primary">{{ vitals.name }}</a>
                            </li>
                        </ul>
                        <button class="btn btn-success mt-2 ms-auto me-auto" style="width:80px;" (click)="submitTag()">
                            Submit
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <label *ngIf="visible">
                        Selected Name:
                    </label>
                    <span *ngFor="let item of tagarr" class="custom-label">
                        {{item.name}}&nbsp;
                    </span>
                </div>
            </div>
        </div>
    </div>
    
</div>

<div class="container-fluid mt-4">
    <div class="container">
        <div class="card">

            <h3 class="text-center mt-2">User Table</h3>
            <table class="table table-bordered text-center">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Username
                        </th>
                        <th>
                            Phone
                        </th>
                        <th>
                            City
                        </th>
                        <th>
                            Street
                        </th>
                        <th>
                            Zipcode
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of userList">
                        <td>
                            {{item.name}}
                        </td>
                        <td>
                            {{item.username}}
                        </td>
                        <td>
                            {{item.phone}}
                        </td>
                        <td>
                            {{item.address.city}}
                        </td>
                        <td>
                            {{item.address.street}}
                        </td>
                        <td>
                            {{item.address.zipcode}}
                        </td>
                        <td>
                            <span class="d-flex">
                                <button class="btn btn-primary" data-bs-target="#editRecord" data-bs-toggle="modal" (click)="editRecord(item)">Edit</button>
                                <button class="btn btn-danger ms-2" (click)="deleteRecord(item.id)">Delete</button>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="editRecord" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content" style="justify-self: auto;">
            <div class="modal-header" style="padding-bottom:0px;">
                <h3 class="modal-title" style="margin:0px;" id="exampleModalLabel">Edit Patient</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form [formGroup]="userData" (ngSubmit)="submitEditRecord()">
            <div class="modal-body">
                    <div class="row">
                        <div class="col-6">
                            <label>Name</label>
                            <input class="form-control" formControlName="name">
                        </div>
                        <div class="col-6">
                            <label>Username</label>
                            <input class="form-control" formControlName="username">
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-6">
                            <label>Phone</label>
                            <input class="form-control" formControlName="phone">
                        </div>
                        <div class="col-6">
                            <label>City</label>
                            <input class="form-control" formControlName="city">
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-6">
                            <label>Street</label>
                            <input class="form-control" formControlName="street">
                        </div>
                        <div class="col-6">
                            <label>Zipcode</label>
                            <input class="form-control" formControlName="zipcode">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <!-- <button type="button" class="" data-bs-dismiss="modal" aria-label="Close">Close</button> -->
                    <button class="btn btn-success" data-bs-dismiss="modal">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
