<div class="container">
    <div class="row mt-3">
        <div class="col-3 d-flex">
            <div class="input-group">
                <input type="text" class="form-control" [(ngModel)]="userId" placeholder="Enter ID">
            </div>
        </div>
        <div class="col-3">
            <button class="btn btn-success" (click)="filterUserById()">Get User</button>
        </div>
    </div>
    <div [formGroup]="userData">
        <div class="row mt-5">
            <div class="col-md-4 mb-3">
                <label>Name</label>
                <input type="text" class="form-control" formControlName="name" placeholder="First name">
            </div>
            <div class="col-md-4 mb-3">
                <label>Phone</label>
                <input type="text" class="form-control" formControlName="phone" placeholder="Last name">
            </div>
            <div class="col-md-4 mb-3">
                <label>Username</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">&#64;</span>
                    </div>
                    <input type="text" class="form-control" formControlName="username" placeholder="Username">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mb-3">
                <label>City</label>
                <input type="text" class="form-control" formControlName="city" placeholder="City">
            </div>
            <div class="col-md-4 mb-3">
                <label>Street</label>
                <input type="text" class="form-control" formControlName="street" placeholder="State">
            </div>
            <div class="col-md-4 mb-3">
                <label>Zip</label>
                <input type="text" class="form-control" formControlName="zipcode" placeholder="Zip">
            </div>
        </div>
    </div>
    <div class="row col-12">
        <ng-container>
            <tag-input [(ngModel)]="tagarr" [identifyBy]="'name'" [displayBy]="'name'" (onRemove)="removeTag($event)" placeholder="Enter tag">
            </tag-input>
        </ng-container>
        <ul class="pt-4 list-unstyled d-flex gap-2">
            <li
              *ngFor="let vitals of result" (click)="selectedTag(vitals)">
              <a class="btn btn-sm btn-primary">{{ vitals.name }}</a>
            </li>
          </ul>
    </div>
    <div class="row align-center ms-auto me-auto" style="width: 80px;">
        <button class="btn btn-primary mt-2 text-center" (click)="submitTag()">
            Submit
        </button>
    </div>
</div>

<div class="container-fluid mt-3">
    <div class="container">
        <h3 class="text-center mt-2">User Table</h3>
        <table class="table table-bordered text-center">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Username
                    </th>
                    <th>
                        Phone
                    </th>
                    <th>
                        City
                    </th>
                    <th>
                        Street
                    </th>
                    <th>
                        Zipcode
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of userList">
                    <td>
                        {{item.name}}
                    </td>
                    <td>
                        {{item.username}}
                    </td>
                    <td>
                        {{item.phone}}
                    </td>
                    <td>
                        {{item.address.city}}
                    </td>
                    <td>
                        {{item.address.street}}
                    </td>
                    <td>
                        {{item.address.zipcode}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>