table {
  table-layout: fixed;
}
td {
  padding: 0 !important;
  margin: 0 !important;
}
table tbody tr {
  height: 40px; 
}
.no-border-header {
  border: none !important;
}
th {
  background-color: #0d6efd;
  color: white;
}