<!-- <div
  class="card"
  style="width: 700px; height: 800px; overflow: hidden; position: relative; margin: auto;"
>
  <div
    #container
    class="image-container"
    (wheel)="onWheel($event)"
    (mousemove)="onMouseMove($event)"
    (mousedown)="startDrawing($event)"
    (mouseup)="stopDrawing()"
    (mouseleave)="stopDrawing()"
    [style.transform]="transform"
    [style.transform-origin]="transformOrigin"
    style="width: 100%; height: 100%; position: relative;"
  >
    <img
      #image
      src="assets/selfie.jpg"
      alt="Zoomable"
      class="img-fluid"
      style="width: 100%; height: 100%; object-fit: contain; display: block;"
    />

    <canvas
      #canvas
      width="700"
      height="800"
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; pointer-events: none;"
    ></canvas>
  </div>
</div>

<div class="d-flex justify-content-center my-3 gap-3">
  <button class="btn btn-danger" (click)="clearCanvas()">Clear Markings</button>
  <button class="btn btn-success" (click)="saveCanvas()">Save Markings</button>

  <select class="form-select w-auto" [(ngModel)]="penColor">
    <option value="red">Red</option>
    <option value="blue">Blue</option>
    <option value="green">Green</option>
    <option value="black">Black</option>
  </select>
</div> -->


<button class="btn btn-primary" data-bs-target="#imageModal" data-bs-toggle="modal">Open</button>


<div class="modal fade" id="imageZoomModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="imageModalLabel">Image Annotation Tool</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body px-0">
        <div class="card" style="width: 700px; height: 800px; overflow: hidden; position: relative; margin: auto;">
          <div #container class="image-container" (wheel)="onWheel($event)" (mousemove)="onMouseMove($event)"
            (mousedown)="startDrawing($event)" (mouseup)="stopDrawing()" (mouseleave)="stopDrawing()"
            [style.transform]="transform" [style.transform-origin]="transformOrigin"
            style="width: 100%; height: 100%; position: relative;">
            <img #image src="assets/selfie.jpg" alt="Zoomable" class="img-fluid"
              style="width: 100%; height: 100%; object-fit: contain; display: block;" />

            <canvas #canvas width="700" height="800"
              style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; pointer-events: none;"></canvas>
          </div>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center my-3 gap-3">
        <button class="btn btn-danger" (click)="clearCanvas()">Clear Markings</button>
        <button class="btn btn-success" (click)="saveCanvas()">Save Markings</button>

        <select class="form-select w-auto" [(ngModel)]="penColor">
          <option value="red">Red</option>
          <option value="blue">Blue</option>
          <option value="green">Green</option>
          <option value="black">Black</option>
        </select>
      </div>
    </div>
  </div>
</div>